.random{
  padding: 10px 20px;
  font-size: 1.2rem;
  margin: 10px 10px 30px;
  background: lighten(#001f3f, 10%);
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  box-shadow: 4px 7px 7px 4px  rgba(0,0,0,0.4);
  transition: box-shadow 20ms linear;
  cursor: pointer;
  &:hover {
    box-shadow: 3px 4px 10px 3px rgba(0, 0, 0, 0.3);
  }
}