.App{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #FFFFFF;
  min-height: 100vh;
  transition: height 1s linear;


  &__list{
    list-style: none;
    padding: 0;
    max-width: 400px;
    transition: all 2s ease;
    margin: 10px;
    a{
      color: #FFFFFF;
      text-decoration: none;
    }
  }

  &__searchBox {
    background: transparent;
    padding: 10px 10px;
    border: solid #003872 3px;
    border-radius: 10px;
    color: white;
    font-size: 1.2em;
    width: 100vw;
    max-width: 400px;

    &::placeholder {
      color: lighten(#DDDDDD, 5%);
    }
  }
}