.App{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #FFFFFF;
  min-height: 100vh;
  transition: height 1s linear;


  &__list{
    list-style: none;
    padding: 0;
    max-width: 400px;
    transition: all 2s ease;
    margin: 10px;
    a{
      color: #FFFFFF;
      text-decoration: none;
    }
  }
}